.modal {
    position: fixed;
    overflow-y: auto;
    background-color: var(--color-white);
    z-index: 1000;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;

    --modal-header-height: 64px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-header {
    height: var(--modal-header-height);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--color-border);
}

.modal-header .modal-header-text {
    font-size: 1.3rem;
    font-weight: 600;
}

.modal-header .close {
    margin-left: auto;
    width: 26px;
    height: 26px;
}

.modal-body {
    padding: 1rem;
    overflow-y: auto;
    height: 100%;
}

/* BIG SCREEN */
@media (min-width: 1000px) {
    .modal {
        height: 320px;
        width: 520px;
    }
}

/* SMALL SCREEN */
@media (max-width: 999px) {
    .modal {
        height: 400px;
        width: 320px;
    }
}

/* VERY SMALL SCREEN */
@media (max-width: 320px) {
    .modal {
        height: 350px;
        width: 280px;
    }

    .modal-body {
        padding: 0;
    }
}
