* {
    box-sizing: border-box;
}

:root {
    /* Font variables */
    --font-family: "Poppins";
    --font-size: 14px;

    /* Color variables */
    --color-navbar: #5c6375;
    --color-green: #64b867;
    --color-border: rgba(196, 196, 196, 0.6);
    --color-light: #7f7f7f;
    --color-dark: #333333;
    --color-white: #ffffff;

    /* Sizing variables */
    --navbar-width: 15rem;
    --top-banner-height: 4rem;
    --border-width: 1px;
    --btn-width: 158px;
    --btn-height: 35px;
}

body {
    height: 100vh;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--color-dark);
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

.main {
    margin-left: var(--navbar-width);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}
